<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li><a href="../students.hbs">BSD Students</a></li>
        <li><a href="/BSD">All Students</a></li>
        <li><a href="/BSD">Highest GPA</a></li>
        <li><a href="/BSD">Home</a></li>
       <br>
        <hr>
<div class="container">

        {{{body}}}
</div>
<hr>
        <h1>Stduent Honour Pledge:</h1>
        <p>I acknowledge seneca college academic intergrity policy.</p>
        <p>On my honor, I have neither given or recieved unauthorized aid on this test.</p>
        <br>
        <p>Name: <b><mark>Sidhant Sharma</mark></b></p>
        <br>
        <p>Student Number: <b><mark>123151219</mark></b></p>
        </ul>
</html>