{{#studentInfo}}
    <div class="container">
          <h2>Student Info:</h2>
         <p>Student ID:  {{id}}</p>
          <p>Name: {{name}}</p>
          <p> Program: {{prog}}</p>
        <p> GPA: {{sgpa}}</p>
    </div>
{{/studentInfo}}